<div class="flex flex-col w-5/6 md:w-2/3 lg:w-1/2  m-auto border mt-4 px-4 py-2 bg-white  border-slate-200 rounded-md text-sm shadow-sm">
    <div>
        <h1 class="text-slate-700 text-2xl md:text-3xl lg:text-4xl">Create a task</h1>
    </div>
    <hr class="border-slate-300">
    <div>
        <form #f="ngForm" (submit)="onSubmit(f)">
            <div>
                <br>
                <label class="font-semibold">Title</label>
                <input 
                    type="text" 
                    placeholder="Title" 
                    name="title" 
                    class="mt-1 block w-full peer px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" 
                    ngModel 
                    #title="ngModel"
                    required
                >
                <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">
                    Please provide a Value.
                </p>
            </div>
            <div>
                <br>
                <label class="font-semibold">Summary</label>
                <textarea
                cols="30" 
                rows="10"
                placeholder="Summary"
                name="summary" 
                class="mt-1 block w-full px-3 peer py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" 
                ngModel 
                #summary="ngModel"
                required
                ></textarea>
                <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">
                    Please provide a Value.
                </p>
            </div>
            <div>
                <br>
                <label class="font-semibold">Due Date</label>
                <input 
                type="date" 
                name="dueDate" 
                class="mt-1 block peer w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" 
                ngModel 
                #dueDate="ngModel"
                required
                [min]="minDate"
                >
                <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">
                    Please provide a Value.
                </p>
            </div>
            <div>
                <br>
                <label class="block font-semibold">Priority</label>
                <select 
                name="priority" 
                class="mt-1 block peer w-fit px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" 
                ngModel 
                #priority="ngModel"
                required
                >
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">
                    Please provide a Value.
                </p>
            </div>
            <div class="flex flex-row space-x-2 justify-end ">
                <div>
                    <button *ngIf="f.valid" type="submit" class="mt-1 px-3 py-2 bg-white border border-slate-300 rounded-md shadow-sm placeholder-slate-400 hover:outline-none hover:border-sky-500  hover:ring-1 hover:ring-sky-500 w-fit text-blue-600 ">Create</button>
                </div>
                <button class="mt-1 px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 hover:outline-none hover:border-pink-500 hover:ring-1 hover:ring-pink-500 w-fit" [routerLink]="['/']">Cancel</button>
            </div>
        </form>
    </div>
</div>