<div class="flex w-full h-fit justify-center bg-blue-500">
    <h1 class="text-white font-medium text-center w-full pb-1 small:text-base md:text-4xl">Task Ninja <span class="block text-sm md:text-3xl small:inline text-black font-thin">(Task Management Web App)</span></h1>
</div>
<router-outlet></router-outlet>
<div class="flex fixed bottom-0 w-full h-fit justify-center bg-blue-500">
    <a class= "pb-1 pt-1 text-white font-semibold cursor-pointer " href="https://linktr.ee/sahanilxm" target="_blank">@sahanilxm</a>
</div>