<div class="bg-blue-500 h-fit">
    <div class="flex justify-center p-4">    
        <h1 class="text-white font-medium md:text-4xl ">Task Ninja </h1>
        <p class="hidden small:inline md:text-4xl font-thin"> (Task Management Web App)</p>
    </div>
</div>
<router-outlet></router-outlet>
<div class="fixed bottom-0 h-fit w-full mt-2 flex justify-center ">
    <a class= "pb-1 pt-1 text-blue-800 font-semibold cursor-pointer " href="https://linktr.ee/sahanilxm" target="_blank">@sahanilxm</a>
</div>