<div class="min-w-fit w-full min-h-screen">
    <div *ngIf="tasks.length; else noTask" class="md:p-12 py-20 px-6">
        <div class="w-full md:w-2/3 lg:w-1/2 m-auto h-4/5">
            <div class="flex flex-col w-full border py-2 bg-white border-slate-200 text-sm">
                <div class="flex flex-row  justify-between">
                    <div class="flex flex-row">           
                        <h1 class="font-semibold text-base md:text-xl pt-0.5 ml-14">Task</h1>
                    </div>
                    <div class="flex flex-row space-x-1">
                        <div class="hidden small:flex ">
                            <h1 class="font-semibold text-base md:text-xl pt-0.5">Due-Date</h1>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-1 md:w-8 md:h-8 md:mt-0 hover:cursor-pointer" (click)="sortByDueDate()">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                            </svg> 
                        </div>
                        <div class="flex px-4 md:px-0">
                            <h1 class="font-semibold text-base md:text-xl pt-0.5">Priority</h1>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-1 md:w-8 md:h-8 md:mt-0 hover:cursor-pointer" (click)="sortByPriority()">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                            </svg> 
                        </div>                       
                    </div>
                </div>
            </div>
            <div *ngFor="let task of tasks" >
                <app-task-item [task]="task"></app-task-item>
            </div>
        </div>
        <button title="Create a task" [routerLink]="['/createTask']" class="fixed z-90 bottom-8 right-8 border-0 w-16 h-16 rounded-full drop-shadow-md bg-indigo-500 text-white text-4xl pb-2 font-bold">&#43;</button>
    </div>
    <ng-template #noTask>
        <h1>There is no task to Print.</h1>
    </ng-template>
</div>